---
import Layout from '../layouts/Layout.astro';
import Info from '../components/Info.astro';
---

<Layout title="Malla Interactiva - Enfermeria UC">
	<div class="max-w-screen-xl mx-auto">

	</div>
	<Info />
</Layout>

