---
import Layout from '../layouts/Layout.astro';
import Info from '../components/Info.astro';
import Malla from '../components/Malla.astro';
---

<Layout title="Malla Interactiva - Enfermeria UC">
	<div class="mx-auto">
		 <Malla /> 
	</div>
	<Info />
</Layout>

