---
import Semester from "./Semester.astro";
import { ramos2022 } from "../utils/malla-2022";

const semesters = [...new Set(ramos2022.map(course => course.semester))].sort((a, b) => Number(a) - Number(b));

---

<div class="flex overflow-x-auto xl:justify-center">
  <div class="flex justify-center">
    {semesters.map((semester) => (
      <Semester semester={semester} />
    ))}
  </div>
</div>